body {
  font-family: sans-serif;
}

video {
  max-width: 100%;
  width: 320px;
}

#RoomFunc {
  width: 100%;
  margin: 20px;
  padding: 10px;
}

#ChatFunc {
  width: 100%;
  margin: 20px;
  padding: 10px;
}

h1 {
  text-align: center;
}
